@import "tailwindcss";

.cursor-glow {
  position: fixed;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  /* background: rgba(127, 121, 241, 0.7); */
  background: rgba(16, 226, 234, 0.6);
  /* box-shadow: 0 0 80px 40px rgba(152, 148, 225, 0.6); */
  box-shadow: 0 0 80px 40px rgba(16, 226, 234, 0.6);
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
}

a:hover ~ .cursor-glow,
button:hover ~ .cursor-glow {
  transform: scale(1.5);
}




